// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    font-family: 'Nunito', sans-serif;
}
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.navbar-brand img {
    width: 50px;
}

footer {
    text-align: center;
    
    .pull-right {
        padding-right: 20px;
    }
}

.nav {
    padding-bottom: 0;
}