/* Imágenes */
.featurette-image {
    width: 140px;
}

.img-circle {
    width: 140px;
    height: 140px;
}

.desc-importaditos {
    background-image: url("../images/carters2.jpg");
    background-size: cover;
    height: 60%;
    margin: -20px 0 30px 0;
    box-shadow: 0 0 30px #000000;

    //font-family: 'Montserrat', sans-serif;

    .about-us {
        color: #FFFFFF;
        padding: 8% 10% 10% 10%;
        text-shadow: 1px 1px 4px #000000;
        text-align: center;
    }
}
