/* Imágenes */
.featurette-image {
    width: 30%;
    height: 30%;
}
.logo-marcas {
    width: 70%;
    border-radius: 10px;
    margin-top: 25px
}
.img-circle {
    width: 40%;
    height: 40%;
}

.featurette {
    background-image: url("images/chicos1.jpg");
}
